langchain==0.1.10
layoutparser==0.3.4
neo4j==5.16.0

numpy
openai==0.28.0
frontend
opencv_python==4.9.0.80
opencv_python_headless==3.4.18.65
pandas==1.3.5
static
pdfplumber==0.10.3
plotly==5.9.0
PyPDF2==3.0.1
pyreadstat==1.2.6
python-dotenv==1.0.1
rapidocr_onnxruntime==1.3.9
Requests==2.31.0

streamlit_scrollable_textbox==0.0.3
streamlit==1.29.0
